@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
/************************************************************************************
 GENERAL SETTING
*************************************************************************************/
html { background-color: transparent; }
html, body {
	font: 16px/1.8 "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro",Meiryo,"メイリオ",Osaka,"MS PGothic","ＭＳ Ｐゴシック",Arial,Helvetica,sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
	height:100%;
}
*:focus {
	outline: none;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		 -o-box-sizing: border-box;
		-ms-box-sizing: border-box;
			box-sizing: border-box;
}
.d-none {
	display: none !important;
}
.opacity-100 {
	opacity: 1 !important;
}
.z-index-100 {
	z-index: 100;
}

/************************************************************************************
 MAIN LAYOUT
*************************************************************************************/
#wrapper {
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding-bottom: 100px;
}
#content {
	padding: 6px;
}

/* footer
------------------------------------------- */
footer {
	position: absolute;
	bottom: 0;
	display: table;
	text-align: center;
	color: #eee;
	height: 100px;
	width: 100%;
	background-color: #282828;
}
footer .site-title {
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
	display: table-cell;
	vertical-align: middle;
	line-height: 100px;
}

/************************************************************************************
 CONTENT
*************************************************************************************/

/* 一言メッセージボード（jsで必要な時に一時的に生成されるボード）
------------------------------------------- */
.notifyMessage {
	display: none;
	position: fixed;
	padding: 6px 20px;
	z-index: 100;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	text-align: center;
	font-size: 14px;
	color: #fff;
	background-color: rgba(51,51,51, 0.9);
	border-radius: 5px;
}
.notifyMessage .color {
	color: #5EA6E9;
}

/* dropZone（画像アップロード用のドラッグ＆ドロップ・画像セレクトボタンエリア）
------------------------------------------- */
#dropZone {
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	line-height: 1.2;
	border: 2px dashed #bbbbbb;
	border-radius: 5px;
	color: #333;
	padding: 10px;
	text-align: center;
	width: 100%;
	transition: all .6s;
}
#dropZone p {
	margin: 0px 2px;
	padding: 0;
}
#dropZone.dragover {
	background-color: #abf0ff;
}

.selectFile {
	color: #333;
	font-size: 24px !important;
	line-height: 0.4;
	display: inline-block;
	overflow: hidden;
	position: relative;
	padding: .5em;
	font-size: 10pt;
	border: 1px solid #999;
	background-color: #eee;
	transition: all .6s;
}
.selectFile input[type="file"] {
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	font-size: 100px;
	cursor: pointer;
}
.selectFile:hover,
.selectFile:active {
	background-color: #ffffff;
}

/* ファイルアップロードログを載せるボード
------------------------------------------- */
#logBoard {
	display: none;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	text-align: center;
	font-size: 14px;
	color: #fff;
	background-color: rgba(51,51,51, 0.9);
	border-radius: 5px;
}
#logBoard ul {
	overflow: auto;
	max-height: 500px;
	margin: 8px;
}
#logBoard ul li {
	border-bottom: solid 1px #aaa;
	padding: 4px 0;
}
#logBoard ul li:last-child {
	border-bottom: none;
}
#logBoard .color {
	color: #5EA6E9;
}

/* タグフィルター
------------------------------------------- */
#filter {
	background-color: #282828;
	padding: 5px 5px 0px 5px;
	justify-content: center; 
}
#filter li {
	background-color: #f0f0f0;
	padding: 5px;
	line-height: 1;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	cursor: pointer;
	transition: all .6s;
}
#filter li:hover,
#filter li:active {
	background-color: #ffffff;
}
#filter li.active {
	background-color: #ff0064;
	color: #fff;
}


/* items（images画像をページ上に表示する際に付けるclass）
------------------------------------------- */
.flexbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.flexbox:hover img {
	/*opacity: .5;*/
}
.item {
	position: relative;
	height: 300px;
	display: table;
	padding: 6px;
}
.item .inner {
	border: 1px solid #eee;
	position: relative;
	margin: auto;
	border-radius: 6px;
	overflow: hidden;
	height: 250px;
}
.item .tag {
	padding: 10px;
	display: table;
	width: 100%;
	height: 250px;
}
.item .tag div {
	border-radius: 10px;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	line-height: 1;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.item img {
	width: 100%;
	display: block;
	transition: all .8s;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.item:hover img{
	opacity: .5;
}

/* itemsの画像上に乗せる情報郡
------------------------------------------- */
.img-overlay-content {
	display: none;
}
@keyframes show {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.img-overlay-content.show{
	display: block;
	animation: show .2s linear 0s;
}

/* inputとtextarea
------------------------------------------- */
input,
textarea {
	color: #333;
}
input:focus,
textarea:focus {
	background-color: rgba(255,255,255,0.9);
}
.text-filename {
	position: absolute;
	width: 100%;
	top: 0;
	border: 0;
	background-color: rgba(255,255,255,0.7);
	border-radius: 0;
	padding: 0 10px;
}
.text-memo {
	position: absolute;
	font-size: 14px;
	resize: none;
	width: 95%;
	border: 0;
	line-height: 1.2;
	padding-top: 4px;
}

/* ボタン
------------------------------------------- */
button {
	position: absolute;
	/*top: 24px;*/
	/*right: 0;*/
	border: 0;
	cursor: pointer;
}
/* ファイル名変更を保存する用のボタン */
button.btn-save-filename {
	top: 24px;
	width: 100%;
	font-size: 14px;
	line-height: 2;
	background-color: rgba(255,0,100,.8);
	color: #fff;
}
/* メモ内容変更を保存する用のボタン */
button.btn-save-memo {
	bottom: 0px;
	width: 100%;
	/*width: 95%;*/
	font-size: 14px;
	line-height: 2;
	background-color: rgba(255,0,100,.8);
	color: #fff;
}
/* 「x」ボタン（ファイル削除） */
button.btn-delete {
	top: 0;
	bottom: 0;
	right: 6px;
	margin: auto;
	padding: 0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 100px;
	font-size: 40px;
	color: #555;
	background-color: #ddd;
	z-index: 90;
}
button.btn-delete:hover,
button.btn-delete:active {
	background-color: #ff0064;
	color: #fff;
}

button.btn-save-filename:hover,
button.btn-save-filename:active,
button.btn-delete:hover,
button.btn-delete:active,
button.btn-save-memo:hover,
button.btn-save-memo:active {
	opacity: .8;
}
button.btn-save-memo[disabled],
button.btn-save-filename[disabled] {
	display: none;
}

button.btn-test {
	top: 100px;
}


/* btnテンプレ
------------------------------------------- */
.btn {
	transition: all .6s;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border-radius: 100px;
	cursor: pointer;
	position: fixed;
	bottom: 16px;
	right: 16px;
	color: #333;
	background-color: #eee;
	border: 1px solid #999;
	z-index: 999;
	font-family: 'Amatic SC', cursive;
	font-size: 24px;
}
.btn span {
	user-select: none;
}
.btn:hover,
.btn:active {
	background-color: #fff;
}
.btn.on {
	background-color: #02cbf6;
	border-color: #08b0d4;
}
.btn.on:hover,
.btn.on:active {
	background-color: #62e3ff;
}

/* Reloadボタン
------------------------------------------- */
.btn-reload {
	opacity: 0;
	z-index: 998;
}
.btn-reload.pos-on {
	bottom: 120px;
}

/* Show Logボタン
------------------------------------------- */
.btn-show-logboard {
	opacity: 0;
	z-index: 997;
}
.btn-show-logboard.pos-on {
	right: 120px;
}
.btn-show-logboard.on {
	background-color: #02cbf6;
	border-color: #08b0d4;
}
.btn-show-logboard.on:hover,
.btn-show-logboard.on:active {
	background-color: #62e3ff;
}


/************************************************************************************
 MEDIA QUERIES
*************************************************************************************/
@media screen and (max-width: 3840px), screen and (max-device-width: 3840px) {
	/* 画面サイズ： 1431px〜 */
	.item {
		width: 10%;
		height: 150px;
	}
	.item .inner { height: 100px; }
	.item .tag { height: 100px; }
}
@media screen and (max-width: 1430px), screen and (max-device-width: 1430px) {
	/* 画面サイズ： 1024px〜 */
	.item {
		width: 20%;
		height: 250px;
	}
	.item .inner { height: 200px; }
	.item .tag { height: 200px; }
}
@media screen and (max-width: 1023px), screen and (max-device-width: 1023px) {
	/* 画面サイズ： 481px〜 */
	.item {
		width: 33.33%;
		height: 150px;
	} 
	.item .inner { height: 100px; }
	.item .tag { height: 100px; }
}
@media screen and (max-width: 480px), screen and (max-device-width: 480px) {
	/* 画面サイズ： 〜480px */
	.item {
		width: 50%;
	}
	.item .tag div {
		font-size: 26px;
	}
	#logBoard {
		min-width: 90%;
	}
	.btn {
		width: 80px;
		height: 80px;
		line-height: 80px;
	}
	.btn-reload.pos-on {
		bottom: 100px;
	}
	.btn-show-logboard.pos-on {
		right: 100px;
	}
	footer .site-title {
		font-size: 30px;
	}

}
